@{
  Layout = "_PreGameLayout";
}
@using TextRpg.Models;

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> Login </h2>
      <form action="/Login/Create" method="post">
        <div class="form-group">
          <label for="username">Username: </label>
          <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required>
        <button type="submit" class="btn">Submit</button>
        <a href="/User/Create"><button type="button" name="button">Register a New User</button></a>
      </form>
    </div>
  </div>
</div>
