@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Ten</h3>
</div>

<div class="room introduction">
  <p>The atmosphere is the same -- it feels heavy, and it drains your energy and courage. But you must remain composed and brave if you want to survive. You're almost at Chamber C, when you hear another familiar screech -- another Hydralisk. You hide behind the box nearby to hide from its sight.</p>
  <p>You notice that there is another hallway that leads to the heart and brain of the ship, the Power Core and the Captain's Chambers. </p>
  <div class="routes">
    <button class="route route1" type="button">Attack the Hydralisk</button>
    <a href="/Room/12"><button class="route route2" type="button">Sneak past the Hydralisk to get into the Chamber</button></a>
    <a href="/Room/13"><button class="exit" type="button">Go to other hallway</button></a>
    <a href="/Room/8"><button class="exit" type="button">Return to previous room</button></a>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Hydralisk.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
   <button class="option option2" type="button" id="flee">Flee from Fight</button>
 </div>
</div>


<div class="event initHidden" id="event2">
  <p>You manage to get past the Hydralisk.</p>
  <div class="options">
    <a href="/Room/12"><button class="option option1" type="button">Enter Chamber C.</button></a>
  </div>
</div>

<div class="event initHidden" id="event3">
  <p>You manage to get past the Hydralisk.</p>
  <div class="options">
    <a href="/Room/12"><button class="option option1" type="button">Enter Chamber C.</button></a>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
