@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallyway Three</h3>
</div>

<div class="room introduction">
  <p>You walk into the hallway with the lights flickering probably due to the auxiliary power losing charge in the Power Core room. You smell something pungent and see the cafeteria sign to your right. On closer inspection you see a Critter alien that just noticed your presence.. Act fast..</p>
  <div class="routes">
    <button class="route route1" type="button">Fight the Critter</button>
    <a href="/Room/5"><button class="route route2 exit" type="button">Run to the Cafeteria</button></a>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Critter.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
 </div>
</div>



<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
      "<p>You run past the Alienized Human. You notice the being is mostly unaware of its surroundings. Probably mostly reliant on smell to navigate through space time.</p>";
    $(".option option1").click(function() {
        // @Game.GetRoom().FightEvent();
    });
    $(".option option2").click(function() {
        // if(@Game.GetRoom().Run()){
        //
        // } else {
        //
        // }
    });
  });
</script>
