@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Fifteen</h3>
</div>

<div class="room introduction">
  <p>You hear the now familiar sound of a Hydralisk. You notice that the walls are oily and that the humidity of the hallway has now increasing. You feel like the deeper you go the closer you are getting to something.</p>
  <div class="routes">
    <button class="route route1" type="button">Attack the Hydralisk before it attacks you</button>
    <a href= "/Room/Room17"><button class="route route1" type="button">Run past the Hydralisk to the Power Core Room</button></a>
    <a href= "/Room/Room19"><button class="route route2" type="button">Run past the Hydralisk to Hallway 19</button></a>
    <a href= "/Room/Room14"><button class="route route3" type="button">Run past the Hydralisk to Hallway 14</button></a>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Alien Hydralisk.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
   <button class="option option2" type="button" id="flee">Flee from Fight</button>
 </div>
</div>

<div class="event initHidden" id="event2">
  <p>Choose a room to move to.</p>
 <div class="options">
     <a href= "/Room/Room19"><button class="route route2" type="button">Run past the Hydralisk to Hallway 19</button></a>
     <a href= "/Room/Room14"><button class="route route3" type="button">Run past the Hydralisk to Hallway 14</button></a>
 </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
      @Game.GameConsole.Append("<p>You run past the Alienized Human. You notice the being is mostly unaware of its surroundings. Probably mostly reliant on smell to navigate through space time.</p>");
    });
  });
</script>
