@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Nine</h3>
</div>

<div class="room introduction">
  <p>You hear the screeches of a terrifying creature. This is no lifeform you've ever studied in highschool biology class on planet Earth. Your adrenaline spikes. Prepare to enter MORTAL COMBAT with this terrifying beast</p>
  <div class="routes">
    <button class="route route1" type="button">Attack the Hydralisk before it attacks you</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Alien Hydralisk.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
   <button class="option option2" type="button" id="flee">Flee from Fight</button>
 </div>
</div>

<div class="event initHidden" id="event2">
  <p>Choose a direction to move.</p>

 <div class="options">
   <a href= "/Room/Room11"><button class="route route1" type="button">Enter Chamber B</button></a>
   <a href= "/Room/Room13"><button class="route route2" type="button">Enter Hallway 13</button></a>
 </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
      @Game.GameConsole.Append("<p>You run past the Alienized Human. You notice the being is mostly unaware of its surroundings. Probably mostly reliant on smell to navigate through space time.</p>");
    });
  });
</script>
