@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Four</h3>
</div>

<div class="room introduction">
  <p>You decide to go to the Medical Bay. You notice blood smeared all over the walls of the hallway, and different useless items scattered on the ground.</p>
  <p>You also hear faint screeches and disgusting chewing noises that grow louder as you head further into the hallway. You have to make another left to reach the Medical Bay. You decide to peek around the corner to inspect what's ahead. You notice a critter nomming on some corpses on the ground. That's where the weird noises are coming from.</p>
  <p>You can't go back to where you came from, fearing that there might be more Zombies that way. You notice that the Medical Bay is just beyond these critters. Knowing that you don't have a choice, you valiantly charge towards the critters.</p>

  <div class="routes main">
    <button class="route route1" type="button">Initiate the fight.</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Critter.</p>

  <div class="options">
    <button class="option option1" type="button">Attack</button>
  </div>
</div>

<div class="event initHidden" id="event2">
  <p>A tricky fight, but the Critter is no more. You walk towards the Medical Bay, hoping to find something to heal your wounds.</p>
  <div class="options">
    <a href="/Room/6"><button class="option option1" type="button">Enter the Medical Bay.</button></a>
  </div>
</div>

<script type="text/javascript">
Audio charDeath = new Audio("/audio/Player/death.wav");
Audio monsterDeath = new Audio("/audio/Monster/death.wav");
Audio charAttack = new Audio(@Game.GetRoom().GetCharacter()._equipped[5].GetAudio());
Audio monsterAttack = new Audio(@Game.GetRoom().GetMonster().GetAudio());
Audio monsterReady = new Audio("/audio/Monster/hydralisk-ready.wav");

  $(document).ready(function() {
    var updateGameLog = function(gameLogMessage) {
      $.ajax({
        url: "/GameConsole/Append",
        type: "POST",
        dataType: "json",
        data: {message: gameLogMessage},
        success: function(data){
          console.log("success");
          // $("#gameLog").html(data);
          console.log(data._name);
        }
      });
    };

    var inventoryAddItem = function(itemIndex){
      $.ajax({
        url: "/Inventory/AddItem",
        type: "POST",
        data: {index: itemIndex},
        success: function(data){
          console.log("Monster: " + data._name);
          $("#equippableInventory .col-md-12 .row").append('<div class="col-md-3 itemCard"><p class="itemName">' + data._name + '</p><img class="itemImage" src="' + data._imgUrl + '"/></div>')
        }
      })
    }
  });

</script>
