@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>The Boss You Wish Never Existed</h3>
</div>

<div class="room introduction">
  <p>You enter the room instantly defeaned the sound of clicking and infinitely looped sounds of "Spit on it". This is a lifeform that should not be able organically based. There must be some lifeform piloting a mechanical body.</p>
  <div class="routes">
    <button class="route route1" type="button">Enter mortal combat with The Commander of the Aliens</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Commander of the Aliens.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
   <button class="option option2" type="button" id="flee">Flee from Fight</button>
 </div>
</div>

<div class="event initHidden" id="event2">
  <p>Congratulations on your defeat of the bonus boss The Alien Commander cadet. Head back to the bridge and land the ship on Mars. To begin your new life on Mars mining for resources and building structures in Misson To Mars: Space X 2.</p>
 <div class="options">
     <a href= "/Room/Room22"><button class="route route2" type="button">Enter the Bridge To Land the Ship</button></a>
 </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
      @Game.GameConsole.Append("<p>Successfully defeated The Alien Commander</p>");
    });
  });
</script>
