@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Outside Cryochamber</h3>
</div>

<div class="room introduction">
  <p>You finally beat the Hydralisk, but its death cry attracted </p>
  <p></p>

  <div class="routes main">
    <button class="route route1" type="button">Initiate the fight.</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Zombie Human.</p>

  <div class="options">
    <button class="option option1" type="button">Attack</button>
  </div>
</div>

<div class="event initHidden" id="event2">
  <p>You notice the signs on the wall as you defeat the stinkin' Zombie. The sign on the left reads "<= Cafe" and "Medical Bay =>"</p>
  <p>You choose where to go</p>
  <div class="options">
    <button class="option option1" type="button">Head left [Cafe]</button>
    <button class="option option2" type="button">Head right [Medical Bay]</button>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
