@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Cafe</h3>
</div>

@* //Introduction Event -------------------------------------------------------------- *@

<div class="event introduction">
  <p>As you enter the Cafe, the dimmed lights flickered. You notice in the corner of the room that there were people slumped over a body. Excited knowing that someone else is still alive, you run towards them and yelled "Hey, I'm so glad you guys are here!!". As you come closer you notice something wrong. The group of people was actually eating the dead corpse. One of them turns around. Eyes blood shot and blood dripping out of their mouth. It locked eyes with you and screamed a loud screech. The rest turns and start heading towards you. You turn around to try to leave but realized that you were surrounded. </p>

  <div class="routes main">
    <button class="route route1" type="button">Fight Zombie Zerg</button>
    <button class="route route2" type="button">Try to Flee the room</button>
  </div>
</div>

@* Event 1 --------------------------------------------------------------------- *@

<div class="event initHidden" id="event1">
  <p>After a long and grueling fight, you seach the bodies and find Keycard. </p>

 <div class="routes main">
   <button class="route route3" type="button">Leave the room</button>
 </div>
</div>

@* Event 2 --------------------------------------------------------------------- *@

<div class="event initHidden" id="event2">
  <p>As you try to flee the room, one of the zombie grabs your arm and takes a big bite. You scream as you pull your arm away, ripping flesh out of your arm. You stumble backwards and you fall helplessly to the ground. Another Zombie jumps at you and punctures your stomach. You watch as it pulls your intestines and starts to eat it. The rest follows and takes it share of flesh.<p>

    <div class="routes main">
      <button class="route route1" type="button"></button>
      <button class="route route3" type="button"></button>
      <button class="route route4" type="button"></button>
    </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
