@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Ten</h3>
</div>

<div class="room introduction">
  <p>You start wondering about things as you go for the Captain's Chambers. You think to yourself: "Is anyone else alive...?", "I hope the Captain is still alive so I can get out of here..." You begin to doubt your abilities, and think that this whole mission is a failure.</p>
  <p>Another deafening screech breaks you out of your thoughts -- one more Hydralisk. "How many Hydralisks are in this ship?" you wonder.</p>
  <p>You notice that this area shares the same layout as Hallway Ten, only less bloody and a little bit more lit -- Beyond the Hydralisk is the Captain's Chamber, to your left is another hallway.</p>
  <div class="routes">
    <button class="route route1" type="button">Attack the Hydralisk</button>
    <button class="route route2" type="button">Sneak past the Hydralisk to get into the Chamber</button>
    <a href="/Room/Room19"><button class="exit" type="button">Go to other hallway</button></a>
    <a href="/Room/Room14"><button class="exit" type="button">Return to previous room</button></a>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Hydralisk.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
   <button class="option option2" type="button" id="flee">Flee from Fight</button>
 </div>
</div>


<div class="event initHidden" id="event2">
  <p>You manage to get past the Hydralisk.</p>
  <div class="options">
    <button class="option option1" type="button">Enter Captain's Chambers.</button>
  </div>
</div>

<div class="event initHidden" id="event3">
  <p>You manage to get past the Hydralisk.</p>
  <div class="options">
    <button class="option option1" type="button">Enter the hallway to the Bridge.</button>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
