@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Seven</h3>
</div>

<div class="event introduction">

  <p>You enter hallway seven you notice a door that requires a keycard; it probably could be found inside the Cafe or Medical bay.</p>
  <p>You notice that the hallway sign saying Bridge is covered in slime; it's likely there is some life form you have never seen in your life behind the door.</p>

  <div class="routes main">
    <a href="/Room/5"><button class="route route1" type="button">Move to the Cafe.</button></a>
    <a href="/Room/6"><button class="route route2" type="button">Move to the Medical Bay.</button></a>
    <a href="/Room/8"><button class="route route3" type="button">Attempt to Enter the Bridge.</button></a>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
