@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Outside Cryochamber</h3>
</div>

<div class="room introduction">
  <p>As you quietly walk out of the Cryochamber, you begin to smell something rotten. You scan the area, and you immediately spot a person who is wearing the same outfit as you. You identify this person to be non-hostile. With a soft yell, you successfully get its attention. The person turns around slowly and growls like an angry dog. You notice that something is not right about this person as soon as you hear it growl. It spots you, and angrily charges towards you.</p>
  <p>You look for a way out, but it's approaching fast. You keep you composure. You have no choice but to fight. </p>

  <div class="routes main">
    <button class="route route1" type="button">Initiate the fight.</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter mortal combat with the Zombie Human.</p>

  <div class="options">
    <button class="attackButton option option1" type="button">Attack</button>
  </div>
</div>

<div class="event initHidden" id="event2">
  <p>You notice the signs on the wall as you defeat the stinkin' Zombie. The sign on the left reads "<= Cafe" and "Medical Bay =>"</p>
  <p>You choose where to go</p>
  <div class="options">
    <a href="/Room/3"><button class="option option1" type="button">Head left [Cafe]</button></a>
    <a href="/Room/4"><button class="option option2" type="button">Head right [Medical Bay]</button></a>
  </div>
</div>

<script type="text/javascript">
Audio charDeath = new Audio("/audio/Player/death.wav");
Audio monsterDeath = new Audio("/audio/Monster/death.wav");
Audio charAttack = new Audio(@Game.GetRoom().GetCharacter()._equipped[5].GetAudio());
Audio monsterAttack = new Audio(@Game.GetRoom().GetMonster().GetAudio());
Audio monsterReady = new Audio("/audio/Monster/hydralisk-ready.wav");

  $(document).ready(function() {



    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".attackButton").click(function(){
      console.log(roomFightEvent());
      monsterReady.Play();
    });

  });

</script>
