@{
    Layout = "_Layout";
}
@using TextRpg.Models;

<div class="roomName">
  <h3>Hallway Ten</h3>
</div>

<div class="room introduction">
  <p>Finally.. You're almost free. The Blast Door opens slowly, and you can't help but feel victorious after facing all the monsters inside the ship.</p>
  <p>The door leads you to the bridge to freedom. You notice yellowish and veiny slimes everywhere, but you walk towards the bridge anyway. The amount of slimes grow as you walk further, but you see nothing in the surroundings. You sense something weird about the atmosphere.</p>
  <p>You suddenly hear a screech. It brings you to a stop and you spot a small shadow in front of you. The screech grows louder as the shadow on the ground grows. You slowly look up, and a large creature smashes down on the ground and shakes the area. </p>
  <p>"This has to be it.." you tell yourself.</p>
  <p>You grab a hold of your weapons, and you charge at the Queen.</p>
  <div class="routes">
    <button class="route route1" type="button">Commence the final battle.</button>
  </div>
</div>

<div class="event initHidden" id="event1">
  <p>You enter a mortal combat with the Queen.</p>

 <div class="options">
   <button class="option option1" type="button">Attack</button>
 </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {

    $(".initHidden").addClass("hidden");

    $(".route1").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event1").removeClass("hidden");
    });

    $(".route2").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event2").removeClass("hidden");
    });

    $(".route3").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event3").removeClass("hidden");
    });

    $(".route4").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event4").removeClass("hidden");
    });

    $(".route5").click(function() {
      $(this).parent().parent().addClass("hidden");
      $("#event5").removeClass("hidden");
    });

    selector.click(function(){
      Game.

      console.AddLine()
      this.remove();
    })

    $("#flee").click(function() {
      if (true)
      {
        console.log("rerouting");
        window.location.href = "localhost:5000/Room/Room2"
      };
      $(this).addClass("hidden");
    });

  });

</script>
