@{
  Layout = "_PreGameLayout";
}


<div id="indexBody">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>Welcome to Space X: Mission to Mars!</h2>
            <img style="width: 100%;" src="https://i.ytimg.com/vi/L0bMeDj76ig/maxresdefault.jpg"/>
            <h3>In the early 21st century, earth is deceased, polluted, and over populated. In order for humanity to survive, we need to become a multi-planetary species.  The Great Elon Musk sent nukes to Mars to rapidly induce climate change on the planet. After a few years of nuking, Falcon Colossal was built to carry 500 members to populate Mars. Not knowing what we’ve done, we disturbed another species living underground. </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="/Login/Form"><button type="button" class="btn">Login</button></a>
          </div>
          <div class="col-md-6">
            <a href="/User/Form/0"><button type="button" class="btn">Register</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
